/* FOOTER */
footer {
    background-color: white;
    padding-bottom: 1px;
}

 .contenedor-footer {
    margin: 0 6px 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
}


.articulo-footer {
    margin-top: 45px;
    width: 76%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.articulo-footer h5 {
    font-size: var(--discounts);
}

.articulo-footer p {
    font-size: var(--body-text);

}

.copyright {
    width: 86%;
    font-size: 10px;
    margin: 24px 0 12px 10px;


}

.contenedor-footer i{
    margin-bottom: 10px;
    color: var(--color-celeste);
    transition: color ease .4s;
}


   @media(min-width: 1024px){
    .contenedor-footer{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .articulo-footer{
        width: 33%;
        padding: 0 25px;
        margin-bottom: 20px;
    }
        
        .contenedor-footer i:hover{
            color: var(--color-azul);
           }
    }


 

