/* HEADER */

header {
    background-color: var(--color-amarillo);
    font-size: var(--body-text);
    padding-bottom: 10px;

}

.logo-search {
    margin: 0 10px;
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}


.logo {
    width: 48%;
    margin-left: 10px;
    margin-bottom: 10px;
}

.search-bar {
    width: 48%;
}

.search-bar input {
    width: 80%;
}


.info-tarjeta {
    width: 100%;
    margin: 12px 0px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.contenedor-menu {
    display: none;
    margin: 0 10px;
}

.contenedor-menu ul {
    list-style: none;
    margin-bottom: 5px;
}

.contenedor-menu ul a {
    color: black;
    text-decoration: none;

}

.registro {
    display: flex;
    justify-content: flex-start;
}

.login {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.carrito {
    display: flex;
    justify-content: flex-start;
}

.ml-1 {
    margin-left: 5px;
}

.burger-menu {
    width: 28px;
    margin: 10px auto 5px auto;
    text-align: center;
    border-radius: 5px;
    padding: 7px;
    background-color: var(--color-celeste);
    color: white;

}

/* Media Queries */
/* Tablet */
@media screen and (min-width:361px) {
    .contenedor-menu {
        display: flex;
        justify-content: space-between;

    }

    .logo {
        width: 32%;
    }

    .search-bar {
        width: 32%;
    }

    .info-tarjeta {
        width: 32%;
    }

    .contenedor-menu ul {
        display: flex;
    }

    .contenedor-left li {
        margin-right: 15px;

    }

    .registro {
        margin-right: 15px;
    }

    .login {
        margin-right: 15px;
    }

    .carrito {
        margin-right: 15px;
    }


    .burger-menu {
        display: none;

    }
}

/* Desktop */
@media screen and (min-width:1024px) {
    .contenedor-menu {
        margin: 0 10px;
    }
}