:root {
    /* COLORES */
    --color-amarillo: #EAC926;
    --color-azul: #03264C;
    --color-celeste: #1259c3;
    --color-grisOscuro: #666;
    --color-grisClaro: #ebebeb;
    --color-verde: #39b54a;
    /*  FUENTES */
    --font-roboto: 'Roboto', sans-serif;
    /* TAMAÑOS */
    --body-text: 12px;
    --title: 24px;
    --price: 18;
    --discounts: 16px;
    --descriptions: 16px;
}

/* GENERAL */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-roboto);
}

/* HEADER */

header {
    background-color: var(--color-amarillo);
    font-size: var(--body-text);
    padding-bottom: 10px;

}

.header-left {
    margin-left: 10px;
}

.logo {
    width: 130px;
    margin-left: 10px;
    padding-top: 30px;
    margin-bottom: 10px;
}

.info-tarjeta {
    margin: 12px 0px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.contenedor-menu ul {
    list-style: none;
    margin-bottom: 15px;
}

.contenedor-menu ul a {
    color: black;
    text-decoration: none;
}

.registro {
    display: flex;
    justify-content: flex-start;
}

.login {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.carrito {
    display: flex;
    justify-content: flex-start;
}

.ml-1 {
    margin-left: 5px;
}

.burger-menu {
    width: 15px;
    margin: 10px auto 5px auto;
    text-align: center;
    border-radius: 5px;
    padding: 7px;
    background-color: var(--color-celeste);
    color: white;

}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.articulo-footer {
    margin-top: 45px;
    width: 76%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.articulo-footer h5 {
    font-size: var(--discounts);
}

.articulo-footer p {
    font-size: var(--body-text);

}

.copyright{
    width: 86%;
    font-size: 10px;
    margin: 24px 0 12px 0px;
    
  
}

.fa-credit-card, .fa-gift, .fa-credit-card {
    margin-bottom: 10px;
    color: var(--color-celeste);
}

